* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  padding: 3rem;
  /* border-radius: 0.375rem; */
  background-color: #fff;
  /* max-width: 33.125rem; */
  /* min-width: 33.125rem; */
  /* margin: 1rem auto 1rem; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.container .title-text {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container .title-text {
    font-size: 20px;
  }
}

.container .subtitle-text {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container .subtitle-text {
    font-size: 16px;
  }
}

.form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2.5rem;
  /* background-color: black; */
}

.form-title .form-instruction-text {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .form-title .form-instruction-text {
    font-size: 16px;
  }
}

.form-title .image-border {
  background-color: transparent;
  border: 0px solid #cccccc;

  cursor: pointer;
}

.form-container {
  width: 100%;
  margin-bottom: 3rem;
  padding-right: 1px;
  height: 100%;
  transition: max-height 1s linear;
}

.form-container__hide {
  width: 100%;
  padding-right: 1px;
  margin-bottom: 3rem;
  height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}

form .form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  /* border: 1px solid #000; */
}

form .label {
  width: 20%;
  font-size: 16px;
  font-weight: 500;
  /* border: 1px solid #000; */
}

form .input-wrapper {
  width: 80%;
}

form .input-field {
  width: 96%;
}

form input {
  width: 90%;
  border-width: 0;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  color: #333;
  border: 1px solid #cccccc;
}

form .trigger-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  /* border: 1px solid #000; */
}

form .trigger-wrapper .action-switcher-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .trigger-wrapper .toggle-visibility {
  margin-left: 1rem;
}

form .trigger-wrapper .toggle-visibility:hover {
  background-color: #f5f5f5;
}

form .trigger-wrapper .save-details-button {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 7px;

  cursor: pointer;
}

form .trigger-wrapper .save-details-button:hover {
  background-color: #f5f5f5;
}

form .trigger-wrapper .execute-trigger-btn {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #00b39e;
  border: 1px solid #cccccc;
  border-radius: 7px;
  color: #ffffff;

  cursor: pointer;
}

form .trigger-wrapper .execute-trigger-btn:hover {
  background-color: #18cfba;
}

form .trigger-wrapper .toggle-visibility {
  padding: 0.25rem 0.4rem;
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 7px;
  color: #ffffff;

  cursor: pointer;
}

.response-header-text {
  font-weight: 600;
  font-size: 22px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.response-header-text span {
  background: #fff;
  padding: 0 10px;
}

.res-wrapper {
  /* width: 640px; */
  /* width: 40rem; */
  width: 100%;
  background-color: #f5f5f5;
  padding: 2%;
  border-radius: 10px;
  margin-top: 1rem;
}

.disclaimer{
  background-color: var(--color-warning-95, hsl(25.110132158590307, 89.0196078431%, 95%));
    border: 1px solid var(--color-warning, #f16d0e);
    border-radius: var(--border-radius-6, 6px);
    padding: 3%;
    margin:2%;
}

.disclaimer ul li{
  margin: 2.5%;
}
